.user-input {
    font: inherit;
    margin: 20px auto;
    padding: 20px 10px;
}

.user-input input[type="text"] {
    background: yellowgreen;
    color: black;
    font-size: 1.5rem;
    border: 2px solid green;
    width: 100%;
    border-radius: 5px;
}

.user-input input[type="text"]:active,
.user-input input[type="text"]:hover {
    background: white;
}

.user-input input[type="text"]:focus {
    outline: none;
}
