.Person {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    margin: 16px auto;
}

.Person input:focus {
    outline: none;
    border: 2px solid yellowgreen;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}
