.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Cockpit button.btn {
    font: inherit;
    border: 2px solid blue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.Cockpit button.btn:hover,
.Cockpit button.btn:active {
    background-color: lightgreen;
    color: black;
}

.Cockpit button.btn:focus {
    outline: none;
}

.Cockpit button.red {
    background-color: red;
    color: white;
}

.Cockpit button.red:hover,
.Cockpit button.red:active {
    background-color: salmon;
    color: black;
}
